 {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 body {
     font-family: Arial, sans-serif;
     background-color: #2B3A67;
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
 }

 body {
     flex-direction: column;
 }

 div {
     display:flex;
     justify-content: center;
     align-items: center;
     border: #F6F4EE 1px solid;
     width: 100px;
     height: 80px;
 }

 h1 {
     color: #F6F4EE;
     margin-bottom: 20px;
 }